<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FastAPI Web na Dlc Tecnologia</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background: #d8d9e4;
      }
    </style>
  </head>
  <body>
    <h1>FastApi Web</h1>
    <div>
      <a href="/">Home</a>
      <a href="/servicos">Serviços</a>
    </div>
    <div class="container">{% block container %} {% endblock %}</div>
  </body>
</html>
